<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ontology KB</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>KB Interaction</h1>
    <form action="/search" method="post">
        <label for="keyword">Enter a keyword to search the KB:</label>
        <input type="text" id="keyword" name="keyword" required>
        <button type="submit">Search</button>
    </form>

    <h2>Search Results:</h2>
    {% if results %}
    <ul>
        {% for result in results %}
        <li>{{ result }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form action="/inference" method="post">
        <label for="inference_keyword">Select an inference question</label><br>
        <select id="inference_option" name="inference_option" required>
            <option value="Q1">Shows with Directors</option>
            <option value="Q2">Shows with Cast</option>
        </select>
        <button type="submit">Run Inference</button>
    </form>

    <h2>Inference Results:</h2>
    {% for result in results %}
    {% if result.director %}
    <p>Show: {{ result.show }}, Title: {{ result.title }}, Director: {{ result.director }}</p>
    {% else %}
    <p>Show: {{ result.show }}, Title: {{ result.title }} (No Cast Information)</p>
    {% endif %}
    {% endfor %}
</body>

</html>